body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}


/* navbar */

.logo {
  padding: 20px 10px 20px 20px;
}

.myname {
  font-weight: normal;
  font-size: 26px;
  color: #fafafa;
  padding-top: 22px;
}

/* ----------------------- */

.navbar {
    margin-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: rgba(0, 0, 100, .90);
    border: 0;
}

.navbar-default .navbar-collapse {
    border-color: #fafafa;
}

 
.navbar-default .navbar-toggle {
    margin-top: 20px;
    margin-right: 30px;
    height: 40px;
    width: 40px;
    border-color: transparent;
}

.navbar-default .navbar-toggle:hover {
    background-color: orange;
    border-color: orange;
} 

.navbar-toggle {
    position: relative;
    float: right;
    padding: 14px 9px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.navbar-default .navbar-nav a {
    font-weight: normal;
    font-size: 16px;
    color: #fafafa;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background: transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #fafafa;
}

.navbar-nav .active:hover {
    background-color: orange;
    border-color: orange;
    transition: all 0.50s ease-in-out;
    -moz-transition: all 0.50s ease-in-out;
    -webkit-transition: all 0.50s ease-in-out;
    -o-transition: all 0.50s ease-in-out;
} 

.btn-nav {
    font-weight: bold;
    border-radius: 25px;
    width: 175px;
    margin: 0px 20px 0px 0px;
    background-color: transparent;
    border-color: #fafafa;
    margin-top: 15px;
}

.btn-nav:hover {
    background-color: orange;
    border-color: orange;
    text-decoration: none;
    transition: all 0.50s ease-in-out;
    -moz-transition: all 0.50s ease-in-out;
    -webkit-transition: all 0.50s ease-in-out;
    -o-transition: all 0.50s ease-in-out;
}

.navbar-default .navbar-nav>li>a {
    color: #fafafa;
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #fafafa;
    background-color: orange;
}




/* callout header */


.callout-container {
    height: 100vh;
    background: url('images/headerbg.jpg') no-repeat center center fixed; 
    background-size: cover; 
    display: block;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-top: 150px;
    margin-bottom: 0px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3); 
}

.jumbotron {
    background-color: transparent;
    padding-top: 100px;
    text-align: center;
    
 }

.jumbotron .h1, .jumbotron h1 {
    color: #fafafa;
}


.fa-download, .fa-envelope {
    color: #fafafa;
}

/* callout buttons */

.btn--cta {
    font-weight: normal;
    border-radius: 25px;
    width: 175px;
    margin:5px;
}

.btn--red {
    color: #fafafa;
    background-color: transparent; 
    border-color: #fafafa;
    margin: 5px;
}

.btn--red:hover,
.btn--red:active,
.btn--red:focus,
.btn--red:active:focus {
    
    background-color: orange;
    color: #fafafa;
    border-color: orange;
    transition: all 0.50s ease-in-out;
    -moz-transition: all 0.50s ease-in-out;
    -webkit-transition: all 0.50s ease-in-out;
    -o-transition: all 0.50s ease-in-out;
}




/* Skills section */


#skills {
    height: 100vh;
    background-color: #FFF8D1;
    margin-top: 0px;
    padding: 20px;
}

.header-skills {
    text-align: center;
    padding-bottom: 0px;
    padding-top: 30px;
    margin-top: 120px;
    padding-bottom: 30px;
    color: steelblue;
}

.prog-column {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 20px;
    margin-bottom: 150px;
}

.progress {
    position: relative;
    height: 25px;
}


.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 3px 30px 2px 10px;
    color: #fafafa;
    background-color: rgba(25, 25, 25, 0.5);
}

.progress-section {
    height: 100vh;
    background-color: #fff000; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-top: 80px;
    color: #000064;
    
}

.skills .glyphicon {
    display: block;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
    background-color: #FFF8D1;
}


/* work experience */

#workexperience { 
    background-color: #fafafa;
}

.header-wkexp {
    text-align: center;
    padding-bottom: 40px;
    color: #fafafa;
}

.workexperience .glyphicon {
    display: block;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.time-linewkexp {
    content: attr(dates);
    color: orange;
    font-weight: bold;
}

.container-wrapper-wkexp {
    height: 100vh;
    background: url('images/wkexp.jpg') no-repeat bottom center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-top: 80px;
    color: white;
}

.opaque-overlay-wkexp {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.70);
}

.workexperience h3 {
    text-align: left;
    margin-bottom: 40px;
}






/* portfolio */

#portfolio {
    height: 100vh;
    background-color: #f5f5f5;
    padding: 20px;
}

.p-portfolio {
    color: #000064;
    font-size: 1.5em;
}

.portfolio-section {
    background-color: #fff000; 
    background-size: cover; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-top: 50px;
    color: #000064;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.portfolio .glyphicon {
    display: block;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
    background-color: transparent;
}

.header-portfolio {
    text-align: center;
    padding-bottom: 0px;
    padding-top: 30px;
    margin-top: 120px;
    padding-bottom: 30px;
    color: #000064;
}

/*
.portfolio-images {
    width: 80%;
    padding: 20px 10px 20px 10px;
    margin: 10px;
}
*/
div.portfolio-images {
  border: 1px solid #ccc;
}

div.portfolio-images:hover {
  border: 1px solid #777;
}

div.portfolio-images img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 20px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}





/* education */

#education {
    background-color: transparent;
}


.container-wrapper-edu {
    height: 100vh;
    background: url('images/featurebg1.jpg') no-repeat center center fixed; 
    background-size: cover; 
    display: block;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-top: 120px;
    color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.opaque-overlay-edu {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.50);
}    

.header-education {
    text-align: center;
    padding-bottom: 40px;
    margin-top: 100px;
}

.education h3 {
    text-align: left;
    margin-bottom: 40px;
}

.time-line {
    content: attr(dates);
    color: orange;
    font-weight: bold;
}

.education .glyphicon {
    display: block;
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}



/* general links */

.gen-links {
    text-decoration: none;
    color: green;
}

.gen-links :hover {
    text-decoration: none;
    color: #fafafa;
}

/* Footer */



footer {
    background-color: steelblue;
    color: #fafafa;
    min-height: 200px;
    margin: 0;
}

footer .cv-pdf i {
    color: #fafafa;
    text-align: center;
    font-size: 18px;
    padding-left: 5px;
}

footer .cv-pdf i:hover {
    color: orange;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.links-social li a i:hover {
    background: orange;
}

.links-social li a i {
    width: 30px;
    height: 30px;
    padding: 10px 0;
    border-radius: 10%;
    font-size: 16px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    border: white;
    background: transparent;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

#message {
    height: 100px;
}

#footer-details {
    margin: 20px;
}

.footy-footer h4 {
    color: orange;
    padding-top: 20px;
    padding-bottom: 10px;
}

.text-muted {
    color: orange;
}

.btn--cta1 {
    font-weight: bold;
    border-radius: 25px;
    width: 175px;
    margin:5px;
    text-decoration: none;
    margin-bottom: 50px;
}

.btn--red1 {
    color: #fafafa;
    background-color: transparent; 
    border-color: #fafafa;
    margin: 5px;
    text-decoration: none;
    margin-bottom: 10px;
    float: none;
}

.btn--red1:hover,
.btn--red1:active,
.btn--red1:focus,
.btn--red1:active:focus {
    text-decoration: none;
    background-color: orange;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.btn--cta2 {
    font-weight: bold;
    border-radius: 25px;
    width: 150px;
    margin:5px;
    text-decoration: none;
    margin-bottom: 50px;
}

.btn--red2 {
    color: #fafafa;
    background-color: #e59400; 
    border-color: #fafafa;
    margin: 5px;
    text-decoration: none;
    margin-bottom: 10px;
    float: none;
}

.btn--red2:hover,
.btn--red2:active,
.btn--red2:focus,
.btn--red2:active:focus {
    text-decoration: none;
    background-color: orange;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


/* footnote */
.footnote {
    text-align: center;
    background-color: #000046;
    color: orange;
    margin-top: 0px;
    padding: 20px 10px 20px 10px;
   
}


